body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #531dab, white);
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the background fixed as the page scrolls */
}

.welcome {
  background-color: white;
  color: black;
  font-size: max(6vh, 6vw);
  font-weight: bold;
  padding: 10px;
  width: 50%;
  text-align: center;
  left: 50%;
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

.welcomeContext {
  padding: 0px 30px;
  font-family: Georgia, serif;
  font-size: min(4vw, 4vh);
}

.user-login-header {
  color: #cc2fe0;
  font-size: min(4vh, 4vw);
  font-weight: bold;
  font-family: Georgia, serif;
  opacity: 0.7;
}

.input-container {
  width: 70%;
}

.icon {
  padding: 10px;
  background: #cc2fe0;
  color: white;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .welcomeContext {
    font-size: max(4vw, 4vh);
  }
  .user-login-header {
    font-size: max(4vw, 4vh);
  }
}
